/* Atributo id */

#titulo-principal {font-size: 40px; color: brown; font-family: font-family: 'Roboto', sans-serif;}


h2 {color:brown;}

h3 {color:blueviolet;}

/* Selectores de clases */

.listas-temporada-opening {color:chocolate;}
.BAKI {width: 1380px;}
.contenedor-listas {background-color:aquamarine;}

/* Tamano de fuente */

h2 {font-size: 35px;}

ul, ol {font-size: 15px;}

p {color:green;font-size: 15px;}

/* Tipografias */

h1, h3 {font-family: 'Roboto', sans-serif;}
p {font-family: 'Kdam Thmor Pro', sans-serif;}

/* Cambiar tamaño de imagenes */

img {width: 500px;}

/* Bordes imagenes ejemplos: */

img { border: width 10px; border-color: yellowgreen; border-style: solid;}
img { border-radius: 16px;}

/* Color de fondo <div> */

div {background-color: silver;}

/* Selectores de atributos */

img[alt] {
  border-radius: 50%;
}

[type="radio"] {
  margin: 10px;
}

[type="checkbox"] {
  margin: 10px;
}

a[href="https://www.google.com.pe/"] {
  color:blue;
  text-decoration: none;
  font-weight: bold;
}

/* Unidades absolutas y relativas */

#contenedor-principal-prueba {
  color:white;
  padding: 5px;
  font-size: 10px;
  background-color:yellow;
  font-family: font-family: 'Roboto', sans-serif;
}

.rectangulo {
  padding: 5px;
  margin: 5px;
}

.px {
  background-color: crimson;
  width: 200px;
}

.vw {
  background-color: darkmagenta;
  width: 20vw;
}

.em {
  background-color: green;
  width: 15em;
}

/* Estilos body */

body {
  background-color:silver;
}